@import url(reset.css);
@import url(960.css);
/*@import url(http://fonts.googleapis.com/css?family=Kreon);*/
@import url(http://fonts.googleapis.com/css?family=Copse);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

body {
  background-color:#333;
  color:#eee;
  font-family:'Copse', Georgia, serif;
  font-size:18px;
  font-weight:400;
}

a {
  color:#369;
  text-decoration:none;
}

input[type=submit] { cursor:pointer; }

.button {
  background-color:#eee;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
  border-radius:15px;
  color:#333;
  display:inline-block;
  font-size:18px;
  padding:3px 15px 6px;
}
.button:hover {
  background-color:#999;
}
.button:active {
  background-color:#666;
  color:#ccc;
}

.info-button {
  font-size:10px;
  padding:2px 5px;
}

.right {
  float:right;
}

#header {
  border-bottom:1px solid #090909;
  min-height:95px;
  padding-top:25px;
}

#header header {
  position:relative;
}

#header h1 {
  font-size:72px;
  font-weight:700;
}

#header h5 {
  font-family:'Dancing Script', Helvetica, sans-serif;
  font-size:24px;
  margin-bottom:0.5em;
}

#header .info-button {
  margin-left:4px;
}

#header .configure-button {
  bottom:0;
  position:absolute;
  right:5px;
}

#main {
  background-color:#666;
  border-bottom:1px solid #373737;
  border-top:1px solid #858585;
  color:#333;
}

#main .body {
  margin-bottom:20px;
  margin-top:20px;
}

.tile .outer {
  border:1px solid #444;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  display:block;
  margin-bottom:20px;
  margin-top:20px;
}

.tile .inner {
  background-color:#b5b5b5;
  border:1px solid #d3d3d3;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  padding:8px;
}

#players .player-avatar-medium,
#players .player-avatar-large {
  border:1px solid #666;
  margin:0 auto 5px;
}

#players .player-avatar-medium img,
#players .player-avatar-large img {
  display:block;
}

#players .player-avatar-medium {
  display:block;
  width:138px;
}

#players .grid_4 .player-avatar-medium,
#players .player-avatar-large {
  display:none;
}

#players .grid_4 .player-avatar-large {
  display:block;
  width:198px;
}

#players .player-name {
  font-size:24px;
}

#players .grid_4 .player-name {
  font-size:36px;
}

#players .score {
  font-size:18px;
  font-weight:700;
}

#players .grid_4 .score { font-size:22px; }

#players .player .update-score {}

#players .update-score input[type=text] {
  background-color:#eee;
  border:1px solid #444;
  font-size:14px;
  padding:4px 4px;
  width:35px;
}

#players .update-score input[type=submit] {
  background-color:#666;
  border:1px solid;
  border-color:#444;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  color:#eee;
  font-family:'Copse', Helvetica, sans-serif;
  font-size:14px;
  letter-spacing:0.1em;
  margin:0;
  padding:1px 8px 3px;
}

#graph .content {
  height:305px;
  margin:10px 0;
  padding:10px 0;
}

#footer {
  border-top:1px solid #282828;
  min-height:45px;
  padding:15px 0;
}

#footer h3 {
  font-family:'Dancing Script', 'Copse', Helvetica, sans-serif;
  font-size:36px;
  font-weight:300;
}
